:root {
  --main-font: Roboto, sans-serif;
  --white: #ffffff;
  --black: #000000;
  --error: #ff001b;
  --nav-hover: #fffb08;
  --orange-info: #ff6b08;
  --button-orange: #ff6b01;
  --logo: #818181;
  --footer-text: #545454;
  --background-footer: #f7f7f7;
  --background-page-button: #f7f7f7;
}
