.footer {
  background-color: #f7f7f7;
  padding: 50px 0px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__text,
  &__sub {
    color: #545454;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 16pxs;
  }

  &__sub {
    display: flex;
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  &__button {
    color: #545454;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      color: #ff6b08;
    }
  }
}
