.btn-mod-color {
  background: #bb1121;
  border: none;
  color: #ffffff;
}

.watch:hover,
.que:hover {
  background: #bb1121;
  border: 1px solid #bb1121;
  color: #ffffff;
}

.btn-mod-color {
  background: #bb1121;
  border: none;
  color: #ffffff;
}
