<!-- formularz logowania / rejestracji -->
<div id="authForm">
  <input type="Email" placeholder="email" id="userEmail" />
  <input type="Password" placeholder="password" id="userPassword" />
  <button id="signUpButton">Sign Up</button>
  <button id="signInButton">Sign In</button>
</div>

<!-- treści, które mają się wyświetlić użytkownikowi po zalogowaniu do wrzucenia tutaj w div -->
<div id="secretContent">
  <h3>Top secret information</h3>
  <button id="signOutButton">Sign Out</button>
</div>
