<!-- formularz logowania / rejestracji -->
<div id="authForm" class="fire-main">
  <div class="fire-main__container">
    <input type="Email" placeholder="email" id="userEmail" class="fire-main__mail" />
    <button id="signUpButton" class="fire-main__signup">Sign Up</button>
  </div>
  <div class="fire-main__container">
    <input type="Password" placeholder="password" id="userPassword" class="fire-main__pass" />
    <button id="signInButton" class="fire-main__signin">Sign In</button>
  </div>
</div>

<!-- treści, które mają się wyświetlić użytkownikowi po zalogowaniu do wrzucenia tutaj w div -->
<div id="secretContent" target="_blank" class="fire-log">
  <h3>Welcome! You are in Filmoteka!</h3>
  <button id="signOutButton" class="fire-log__btn">Sign Out</button>
</div>
