<footer class="footer">
  <div class="footer__container">
    <p class="footer__text">&#169; 2023 | All Rights Reserved |</p>
    <div class="footer__sub">
      <p class="footer__developed">Developed with</p>
      <svg class="footer__icon"><use href="./images/sprite.svg#icon-heart" /></svg>
      <button class="footer__button open-modal-team open-team-modal">by GoIT Students</button>
    </div>
  </div>
</footer>

<!-- <div style="overflow: auto; position: absolute; height: 0pt; width: 0pt;">
<a href="https://www.1020ar.com/address/dr-luis-bel%C3%A1ustegui-2557-1416-buenos-aires" rel="nofollow">belaustegui 2557</a>\

 

</div>
<style>
.boxes2{height:212px;width:316px;} 
#new img{max-width:none!important;
background:none!important}

#iframe{
  max-height:none!important;
  max-width:none!important;
  background:none!important}
  </style>
</div> -->
