<header class="header">
  <nav class="header__navigation">
    <a href="index.html" class="navigation__logo-link">
      <svg class="navigation__logo-svg"><use href="./images/sprite.svg#icon-logo" /></svg>
      <h1 class="navigation__website-name">Filmoteka</h1>
    </a>
    <ul class="navigation__links-list">
      <li class="navigation__list-item">
        <a href="/" id="home" class="navigation__list-link navigation__list-link--active"> Home </a>
      </li>
      <li class="navigation__list-item">
        <a href="/" id="library" class="navigation__list-link">My library</a>
      </li>
    </ul>
  </nav>
  <form class="header__search-form">
    <input type="text" placeholder="Movie search" class="header__search-input" name="search" />
    <button type="submi" class="header__search-button">
      <svg class="header__search-icon">
        <use href="./images/sprite.svg#icon-search" />
      </svg>
    </button>
  </form>
  <p class="header__error-message hidden">
    Search result not successful. Enter the correct movie name and try again
  </p>
  <ul class="header__buttons-list hidden">
    <li class="header__buttons-list-item">
      <button class="header__list-button-watched">Watched</button>
    </li>
    <li class="header__buttons-list-item">
      <button class="header__list-button-queue">Queue</button>
    </li>
  </ul>
</header>
