<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__window">
      <button class="modal__btn">
        <svg viewBox="0 0 30 30" class="modal__btn__svg" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 8L22 22" class="modal__btn__path" />
          <path d="M8 22L22 8" class="modal__btn__path" />
        </svg>
      </button>
      <div class="modal__window__film">
        <div class="card-film">
          <div class="card-film__film-img"></div>
          <div class="card-film__film-container">
            <div class="card-film__film-desc"></div>
            <div class="overview"></div>
            <div class="card-film__btn-container mod--buttons">
              <button type="button" class="card-film__btn card-film__btn-watch">
                add to watched
              </button>
              <button type="button" class="card-film__btn card-film__btn-queue">
                add to queue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
