<div class="backdrop-modal team__backdrop--hidden" id="teamModal">
    <div class="team__modal">
         <button class="team__modal--close close-modal-team">
           <svg class="team__icon team__icon--close" width="25" height="25">
             <use href="/src/images/icons.svg#icon-close"></use>
           </svg>
         </button>
         <h1 class="team__title">Cheap coding</h1>
         <div class="team__box">
  
               <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/nothing.jpg"
                alt="Mateusz"/>
               </div>
              <a class="team__link"
              href="https://github.com/QuickerMaths"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Mateusz Szałowicz</p>
              <p class="team__role">Team Lead</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Lukasz.jpg"
                alt="Lukasz"/>
               </div>
              <a class="team__link"
              href="https://github.com/lukaszkocela"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Łukasz Kocela</p>
              <p class="team__role">Scrum Master</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Kasia.jpg"
                alt="Katarzyna"/>
               </div>
              <a class="team__link"
              href="https://github.com/katarzynachodyniecka"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Katarzyna Chodyniecka</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/nothing.jpg"
                alt="Przemysław"/>
               </div>
              <a class="team__link"
              href="https://github.com/przemo107"
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Przemysław Soliński</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Oliwia.jpg"
                alt="Oliwia"/>
               </div>
              <a class="team__link"
              href="https://github.com/romizka"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Oliwia Awencka</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Krzysztof.jpg"
                alt="Krzysztof"/>
               </div>
              <a class="team__link"
              href="https://github.com/KrzysztofPak"
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Krzysztof Pakuła</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
              <div class="team__card">
               <img class="team__photo" src="/src/images/team/Kamil.jpg"
               alt="Kamil"/>
              </div>
             <a class="team__link"
             href="https://github.com/cmdspeed"
             target="_blank" >
             <svg class="team__github" width="25" height="25">
              <use href="/src/images/icons.svg#icon-github"></use>
             </svg>
             </a>
             <p class="team__name">Kamil Langer</p>
             <p class="team__role">Developer</p>
           </div>

