<div class="backdrop-modal team__backdrop--hidden">
    <div class="team__modal">
         <button class="team__modal--close close-modal-team">
           <svg class="team__icon team__icon--close" width="25" height="25">
             <use href="/src/images/icons.svg#icon-close"></use>
           </svg>
         </button>
         <h1 class="team__title">Team members</h1>
         <div class="team__box">
  
               <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Mateusz"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Mateusz Szałowicz</p>
              <p class="team__role">Team Lead</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Lukasz"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Łukasz Kocela</p>
              <p class="team__role">Scrum Master</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Katarzyna"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Katarzyna Chodyniecka</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Przemysław"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Przemysław Soliński</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Oliwia"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Oliwia Awencka</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src=""
                alt="Krzysztof"/>
               </div>
              <a class="team__link"
              href=""
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Krzysztof Pakuła</p>
              <p class="team__role">Developer</p>
            </div>